.circle {
  position: absolute;
  z-index: -1;
}

.circle-left {
  transform: translateX(-50%);
  left: 0;
  top: 40%;
}

.circle-right {
  transform: translateX(40%);
  right: 0;
  top: 15%;
}

.circle-center {
  transform: translateY(-65%);
  top: 0;
  left: 484px;
  right: 609px;
}

.dot {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  z-index: -1;
}

.dot-red-left {
  background-color: $red;
  top: 144px;
  left: 81px;
}

.dot-violet {
  background-color: $violet-200;
  bottom: 108px;
  left: 660px;
}

.dot-green {
  background-color: $green;
  top: 84px;
  left: 875px;
}

.dot-red-right {
  background-color: $red;
  bottom: 208px;
  right: 173px;
}

.background-elements {
}
