.list-item {
  color: $violet-25;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 14px;
  padding-bottom: 14px;
}
