@import "./css-reset.scss";
@import "./animations.scss";
@import "./variables.scss";
@import "./typography.scss";
@import "./components/components.scss";

body {
  background-color: $violet-700;
  padding-left: 130px;
  padding-right: 130px;
  font-family: "Inter", sans-serif;
  overflow: hidden;
}

main {
  min-height: calc(100vh - 170px);
}

#modal-root {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1000;
  pointer-events: none;
}
