h1 {
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
}

h2 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

h3 {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}

h4 {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}

p {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}
