$green: rgb(5, 201, 183);
$red: rgb(227, 74, 103);
$violet-50: rgb(160, 148, 198);
$violet-100: rgba(141, 127, 188, 1);
$violet-200: rgb(120, 96, 215);
$violet-300: rgb(83, 71, 125);
$violet-400: rgb(70, 58, 113);
$violet-500: rgb(43, 34, 74);
$violet-500-transparent: rgba($violet-500, 0);
$violet-600: rgb(37, 29, 66);
$violet-700: rgb(34, 27, 58);
